<h2>Purchase details</h2>
<p>
  <strong>Order No:</strong>&nbsp;<%= order.order_no %>
</p>
<p>
  <strong>Customer ID:</strong>&nbsp;<%= order.customer_id %>
</p>
<p>
  <strong>E-mail:</strong>&nbsp;<%= order.email %>
</p>
<p>
  <strong>Address:</strong>&nbsp;<%= order.address %>
</p>
<p>
  <strong>Total:</strong>&nbsp;<%= order.total %>
</p>
<p>
  <strong>Payment Type:</strong>&nbsp;<%= order.pay_type %>
</p>