<h2>Purchase details</h2>

<p>
  <strong>Order No:</strong>
  <%= session[:order_on] %>
</p>

<p>
  <strong>Customer ID:</strong>
  <%= session[:customer_id] %>
</p>

<p>
  <strong>Customer E-mail:</strong>
  <%= session[:email] %>
</p>

<p>
  <strong>Billing Address:</strong>
  <%= session[:address] %>
</p>

<p>
  <strong>Total:</strong>
  <%= session[:total] %>
</p>

<p>
  <strong>Payment Type:</strong>
  <%= session[:pay_type] %>
</p>