<!DOCTYPE html>
<html>
<head>
  <title>Dummy Payment Gateway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    Dummy Payment Gateway
  </div>
  <div id="columns">
    <div id="side">
      <div id="purchase">
        <!-- TODO: Show payment details -->
      </div>
      <p>&nbsp;</p>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
